#top{
	width: 980px;
	margin: auto;
}
#par1{
	font-size: 3em;
}

p.par2{
	font-weight: bold;
}

szxc{
	color: #aa0006;
}
.footer{text-align: right;}

.container > hr{
	margin: 20px;
}
#videobaja1{
	text-align: center;
	margin: 20px;
	margin-top: 40px;
}
.jumbotron{
	margin: 0;
}